.type-list {
  .ranking {
    &__item {
      margin: 0;
      padding: 0;
      border-bottom: 1px #e5e5e5 solid;
      &:last-of-type {
        border: 0;
      }
    }
    &__thumbnail {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100px;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }
    &__summary {
      display: none;
    }
    &__order {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 70px;
      font-weight: 700;
      font-size: 32px;
      line-height: 100px;
      text-align: center;
      color: #D3182F;
      z-index: 2;
    }
    &__info {
      padding: 22px;
    }
    &__title {
      font-size: 32px;
      line-height: 1.2;
      font-weight: 100;
      color: rgba(23, 43, 77, .75);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__genre {
      font-size: 12px;
      font-weight: 300;
      color: rgba(23, 43, 77, .75);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &::after {
        content: ' / '
      }
      &:last-of-type::after {
        content: ''
      }
    }
    &__a {
      padding-left: 70px;
      padding-right: 100px;
      position: relative;
      min-height: 100px;
      display: block;
      &:hover {
        background-color: #fafafa;
        text-decoration: none;
      }
    }
    @media only screen and (max-width: 480px) {
      &__thumbnail {
        width: 80px;
      }
      &__order {
        display: none;
      }
      &__info {
        padding: 10px 22px;
      }
      &__title {
        padding-top: 10px;
        font-size: 24px;
      }
      &__genre {
        font-size: 8px;
      }
      &__a {
        padding-right: 80px;
        min-height: 80px;
        padding-left: 0;
      }
    }
  }
}

.type-grid {
  .ranking {
    font-size: 0;
    line-height: 0;
    &__a {
      display: block;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
    &__item {
      width: calc(20% - 8px);
      display: inline-block;
      margin: 0;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 0;
      border: 1px solid #9e0b0b;
      box-sizing: border-box;
      position: relative;
      height: 0;
      padding-top: 30%;
      border-radius: 3px;
      overflow: hidden;
      background-color: #fff;

      &:nth-of-type(5n-2) {
        width: calc(20% - 8px);
      }
      &:nth-of-type(5n-1) {
        width: calc(20% - 8px);
      }
      &:nth-of-type(5n) {
        margin-right: 0;
      }
      &:hover {
        .ranking__summary {
          bottom: -50px;
        }
        .ranking__info {
          bottom: 0;
        }
        .ranking__thumbnail {
          transform: scale(1.2);
        }
      }
    }
    &__order {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      width: 30px;
      height: 20px;
      border: 1px solid #9e0b0b;
      border-right: 0;
      border-top: 0;
      border-radius: 0 0 0 3px;
      background-color: #D0021B;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      &:after {
        content: '위';
        font-size: 10px;
        font-weight: 100;
        opacity: .7;
      }
      html[lang="ja"] &:after {
        content: '位';
      }
      html[lang="en"] &:after {
        content: '';
      }
    }
    &__thumbnail {
      transition: 5s cubic-bezier(0,.98,.02,.98);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 70px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      z-index: 1;
    }
    &__summary {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      box-sizing: border-box;
      z-index: 2;
      color: rgba(255, 255, 255, .9);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
      font-size: 14px;
      line-height: 1.2;
      display: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__info {
      transition: 1s cubic-bezier(0,.98,.02,.98);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      box-sizing: border-box;
      padding: 15px 10px;
      z-index: 3;
      height: 70px;
      border-top: 1px rgba(61, 22, 22, 0.15) solid;
      background-color: rgba(255, 255, 255, 1);
      color: rgba(0, 0, 0, .8);
      a {
        color: rgba(0, 0, 0, .4);
      }
    }
    &__title {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 5px;
      /* text-shadow: 0 1px 1px rgba(0, 0, 0, 1) */
    }
    &__genres {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 12px;
      line-height: 1.2;
      color: #8fa6c0;
      /* text-shadow: 0 1px 1px rgba(0, 0, 0, 1) */
    }
    &__genre {
      &::after {
        content: ' / '
      }
      &:last-of-type::after {
        content: ''
      }
    }
    @media only screen and (max-width: 680px) {
      &__item {
        width: calc(25% - 7px);
        margin-right: 10px;
        margin-bottom: 10px;
        padding-top: 40%;

        &:nth-of-type(5n-2) {
          width: calc(25% - 8px);
        }
        &:nth-of-type(5n-1) {
          width: calc(25% - 8px);
        }
        &:nth-of-type(5n) {
          margin-right: 10px;
        }
        &:nth-of-type(4n-2) {
          width: calc(25% - 8px);
        }
        &:nth-of-type(4n-1) {
          width: calc(25% - 8px);
        }
        &:nth-of-type(4n) {
          margin-right: 0;
        }
      }
      &__thumbnail {
        bottom: 70px;
      }
      &__info {
        height: 70px;
      }
    }
    @media only screen and (max-width: 480px) {
      &__item {
        width: calc(50% - 5px);
        margin-bottom: 10px;
        margin-right: 0;
        border-radius: 3px;
        padding-top: calc(50% - 5px);
        border: 1px solid #9e0b0b;
        
        &:nth-of-type(2n-1) {
          width: calc(50% - 5px);
          margin-right: 10px;
        }
        &:nth-of-type(2n) {
          width: calc(50% - 5px);
          margin-right: 0;
        }
      }
      &__thumbnail {
        bottom: 0;
      }
      &__summary {
        display: block;
        background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0, 0) 100%);
      }
      &__info {
        padding: 5px 8px;
        height: 50px;
        bottom: -50px;
        background-color: rgba(0, 0, 0, 0.3);
        color: rgba(255, 255, 255, 1);
        a {
          color: rgba(255, 255, 255, 1);
        }
      }
      &__title {
        font-size: 14px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
      }
      &__genres {
        font-size: 9px;
        color: rgba(255, 255, 255, .8);
        text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
      }
    }
  }
}