.nav {
  transition: 1s cubic-bezier(0,.98,.02,.98);
  position: relative;
  padding: 10px;
  z-index: 3;
  @media only screen and (max-width: 680px) {
    padding: 10px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  & > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    & > li {
      display: flex;
      align-items: center;
    }
  }
  li {
    margin: 0;
    height: 31px;
    line-height: 31px;
    list-style: none;
    li {
      display: inline-block;
    }
  }
  &__left {
    order: 1;
    flex: 1 1 150px;
    a{
      font-size: 18px !important;
      cursor: pointer;
    }
    .btn-home {
      width: 40px;
      display: inline-block;
      text-align: center;
    }
    /* .btn-home {
      width: 50px;
      height: 51px;
      margin: -11px 0 -11px 0;
      display: inline-block;
      text-align: center;
      font-size: 0 !important;
      background: #D0021B no-repeat url('/static/lzlogo_60.png') 50% 50%;
      background-size: 30px auto;
      @media only screen and (max-width: 680px) {
        margin-left: -10px;
      }
    } */
  }
  &__center {
    order: 2;
    flex: 3 3 auto;
    ul {
      margin: 0 auto;
      text-align: center;
    }
  }
  &__right {
    order: 3;
    flex: 1 1 150px;
    justify-content: flex-end;
    ul {
      display: inline-block;
    }
    .fas {
      color: #666;
      display: none;
    }
    .fa-language {
      font-size: 28px;
      position: relative;
      top: 2px;
    }
    .toggl-view {
      font-size: 18px !important;
      cursor: pointer;
      margin-right: 10px;
      .fas {
        &:active,
        &:focus {
          transform: scale(0.9);
        }
      }
    }
  }
  .link {
    color: #D3182F;
    font-size: 24px;
    button {
      height: 31px;
    }
    span {
      height: 31px;
      line-height: 31px;
      color: #D3182F;
    }
    &:active,
    &:focus {
      transform: scale(0.9);
    }
  }
  &__group {
    white-space: nowrap;
    a {
      min-width: 70px;
      height: 31px;
      line-height: 28px;
      padding: 0 5px;
      display: inline-block;
      background-color: transparent;
      border: 1px solid #D3182F;
      box-sizing: border-box;
      text-align: center;
      font-size: 14px !important;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
      &:active,
      &:focus {
        transform: scale(1) !important;
      }
      span {
        height: 29px;
        line-height: 29px;
        color: #D3182F;
        opacity: .8;
      }
    }
    .active {
      a {
        background-color: #D3182F;
        color: #fff;
        border-color: #D3182F;
        span {
          opacity: 1;
          color: #fff;
        }
      }
    }
  }
  &__button {
    &--1 {
      a {
        border-radius: 3px 0 0 3px;
        margin: 0 -1px;
      }
    }
    &--2 {
      a{
        margin: 0 -1px;
      }
    }
    &--3 {
      a {
        border-radius: 0 3px 3px 0;
      }
    }
  }
}

.flag {
  width: 40px;
  height: 28px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
  vertical-align: middle;
  filter:grayscale(50%);
  opacity: .8;
}

span .flag {
  width: 50px;
  margin-right: 5px;
  vertical-align: middle;
  filter:grayscale(0%);
  opacity: 1;
}

html[lang="ko"] .flag  {
  background-image: url('/static/flag-south-korea.svg');
}
.flag.ko-KR {
  background-image: url('/static/flag-south-korea.svg') !important;
}

html[lang="ja"] .flag  {
  background-image: url('/static/flag-japan.svg');
}
.flag.ja-JP {
  background-image: url('/static/flag-japan.svg') !important;
}

html[lang="en"] .flag {
  background-image: url('/static/flag-united-states.svg');
}
.flag.en-US {
  background-image: url('/static/flag-united-states.svg') !important;
}

.load {
  &-true {
    .nav {
      transform: translateY(-50px);
      opacity: 0;
    }
  }
  &-false {
    .nav {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
