.load {
  &-true {
    .ranking {
      transform: translateY(100px);
      opacity: 0;
    }
    .current {
      transform: translateY(50px);
      opacity: 0;
    }
    .slider {
      transform: translateY(30px);
      opacity: 0;
    }
  }
  &-false {
    .ranking,
    .current,
    .slider {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.contents {
  padding-top: 200px;
}

.ranking {
  position: relative;
  z-index: 1;
  transition: 1s cubic-bezier(0,.98,.02,.98);
}

.current {
  transition: 1s cubic-bezier(0,.98,.02,.98);
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 44px;
  line-height: 50px;
  color: #fff;
  font-weight: 100;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  * {
    vertical-align: middle;
  }
  &__date {
    white-space: nowrap;
  }
  &__prev {
    margin-left: 10px;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: no-repeat url('/static/chevron.svg') 15px 5px;
    &:active,
    &:focus {
      transform: scale(0.9);
    }
    @media only screen and (max-width: 480px) {
      margin-left: -10px;
    }
  }
  &__next {
    margin-right: 10px;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: no-repeat url('/static/chevron.svg') -35px 5px;
    &:active,
    &:focus {
      transform: scale(0.9);
    }
    @media only screen and (max-width: 480px) {
      margin-right: -10px;
    }
  }
  a {
    color: #fff;
  }
}

.slider {
  transition: 1s cubic-bezier(0,.98,.02,.98);
  margin-top: 30px;
  height: 28px;
  max-width: 250px;
  margin: 0px auto;
  padding: 4px 30.5px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 36px;
  .rc-slider {
    height: 28px;
    padding: 0;
    &-rail {
      height: 28px;
      background-color: transparent;
    }
    &-track {
      height: 28px;
      background-color: transparent;
    }
    &-handle {
      width: 53px;
      height: 28px;
      margin-left: -26.5px;
      border-radius: 14px;
      background: no-repeat url('/static/slider-handle.svg');
      border: 0;
      box-shadow: none;
      margin-top: 0;
      &:hover,
      &:focus,
      &:active {
        background: no-repeat url('/static/slider-handle-grab.svg');
      }
    }
    &-dot {
      width: 1px;
      height: 1px;
      top: 14px;
      bottom: auto;
      border: 0;
      background-color: #ccc;
      margin-left: -0.5px;
      border-radius: 9px;
      &:first-of-type,
      &:last-of-type,
      /* &:nth-child(10n+1) */ {
        width: 5px;
        height: 5px;
        margin-left: -2.5px;
        top: 11.5px;
      }
    }
  }
}
.rc-slider-tooltip {
  width: 128px;
  height: 38px;
  background: no-repeat url('/static/slider-tooltip.svg') center top;
}

.rc-slider-tooltip-placement-top {
  padding: 0;
}

.rc-slider-tooltip-inner {
  width: 128px;
  height: 28px;
  padding: 0;
  background: transparent;
  box-shadow: none;
  text-align: center;
  color: #666;
  font-size: 12px;
  line-height: 28px;
}

.rc-slider-tooltip-arrow {
  display: none;
}

.rc-slider-tooltip-hidden {
  /* display: block; */
}

.type-list {
  .slider {
    border-radius: 36px;
    .rc-slider-handle {
      border-radius: 36px;
    }
  }
  .ranking {
    &__list {
      max-width: 680px;
      margin: 0 auto;
      padding: 0;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      list-style-type: none;
      background-color: #ffffff;
    }
  }
}
.type-grid {
  .slider {
    border-radius: 3px;
    .rc-slider-handle {
      border-radius: 3px;
    }
    @media only screen and (max-width: 480px) {
      border-radius: 15px;
      margin-bottom: 30px;
      .rc-slider-handle {
        border-radius: 20px;
      }
    }
  }
  .ranking {
    &__list {
      max-width: 680px;
      margin: 0 auto;
      padding: 0;
      position: relative;
      list-style-type: none;
      box-sizing: border-box;
      border-radius: 3px;
    }
  }
}